[submodule "data/2023-05-02-plmc/cholla"]
	path = data/2023-05-02-plmc/cholla
	url = https://github.com/bcaddy/cholla.git
[submodule "data/2023-08-11/cholla"]
	path = data/2023-08-11/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-15/cholla"]
	path = data/2023-08-15/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-24-ppmc/cholla"]
	path = data/2023-08-24-ppmc/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-24-plmc/cholla"]
	path = data/2023-08-24-plmc/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-25-high-res-per-gpu/cholla"]
	path = data/2023-08-25-high-res-per-gpu/cholla
	url = https://github.com/bcaddy/cholla.git
