[submodule "data/2023-05-02-plmc/cholla"]
	path = data/2023-05-02-plmc/cholla
	url = https://github.com/bcaddy/cholla.git
[submodule "data/2023-08-11/cholla"]
	path = data/2023-08-11/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-15/cholla"]
	path = data/2023-08-15/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-24-ppmc/cholla"]
	path = data/2023-08-24-ppmc/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-24-plmc/cholla"]
	path = data/2023-08-24-plmc/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-08-25-high-res-per-gpu/cholla"]
	path = data/2023-08-25-high-res-per-gpu/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-09-18-high-res-plmc/cholla"]
	path = data/2023-09-18-high-res-plmc/cholla
	url = https://github.com/cholla-hydro/cholla.git
[submodule "data/2023-09-20-high-res-plmc-identify-bad-ranks/cholla"]
	path = data/2023-09-20-high-res-plmc-identify-bad-ranks/cholla
	url = https://github.com/bcaddy/cholla.git
[submodule "data/2024-03-12-fused-plmc/cholla"]
	path = data/2024-03-12-fused-plmc/cholla
	url = git@github.com:bcaddy/cholla.git
[submodule "data/2024-03-23-strong-scaling/cholla"]
	path = data/2024-03-23-strong-scaling/cholla
	url = git@github.com:bcaddy/cholla.git
